<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="/urls">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                <h2>Tiny App</h2>
            </a>
            <% if(userData){ %>
              <form id="logout" method="POST" action="/logout" style="margin: 3px;">
                <h4 style="display: inline-block"><%= userData.email %></h4>
                <button type="submit">LOGOUT</button>
              </form>
            <% } else{ %>  
              <form id="login" method="GET" action="/login" style="margin: 3px; display: inline;">
                <button type="submit">LOGIN</button>
              </form>
              <form id="regist" method="GET" action="/register" style="margin:3px;">
                <button type="submit">REGISTER</button>
              </form>
           <% } %>


            
            
        </div>
    
    </div>
    </nav>