<form id="login" method="POST" action="/login" style="margin: 3px;">
  <h2 style="display: inline-block">LOGIN </h2></br>
  <input id="login" type="email" name="email" placeholder="abc@xyz.com" style="width: 150px;">
  <h4>PASSWORD</h4>
  <input id="password" type="password" name="password" style="width: 150px">
  <button type="submit">SUBMIT</button>
</form>