<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
  <header>
      <% include ./partials/_header %>
  </header>
  <main>
    <div class="row">
      <div>
        <ul>
          <% for (let url in urls) { %>
              <% if (url === shortURL) { %>
                  <li >
                    <h1>ShortURL :<%= `${url}` %></h1>
                    <form id="update" method="POST" action="/urls/<%= `${url}`%>">
                      <input id="update" type="text" name="update" placeholder="<%=`${urls[url].longURL}`%>" style="width: 300px">
                      <input type="submit" value="UPDATE">
                    </form>
                  </li>                
              <% } %>
            <% }; %>
      </ul>
      </div>
    </div>
  </main>
  </body>
</html>